$first-color: #840032;
$first-alpha-color: rgba(132, 0, 50, 0.75);

$second-color : #e59500;
$second-alpha-color : rgba(229, 149, 0, 0.75);


$black-light : rgba(0, 0, 0, 0.50);;
$white-light : #e5dada;


$black: #000000;
$white: #ffff;
$gray: #323232;
$test-color-1 : #8c8c8c;
$test-color-2: #454545;


//! Media query
$telefono : 480px;
$tablet : 768px;
$desktop: 1200px;


$max-width: 1200px;
$header-height: 5rem;
$font: 'Montserrat',
sans-serif;
;